body {
  font-family: 'Noto Sans KR';
  padding: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: linear-gradient(45deg, #209cff, #68e0cf);
  padding: 3rem 0;
}
.wrapper{
  background: white;
  padding: 2rem;
  border-radius: 15px;
}

.tag{
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 6px;
  border-radius: 6px;
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  margin-right: 10px;
}

ul, li {
  line-height: 30px;
  list-style: none;
}

.carer{
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
}